<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    .stacked > label {
      display: block;
    }
    .stacked > input {
      display: block;
    }
  </style>
  <h1>Signup Page</h1>
  <form method="post" action="/signup">
    <div class="stacked">
      <label>Username</label>
      <input type="text" name="username">
    </div>
    <div class="stacked">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
  </form>
</body>
</html>